select {
    font-size: 1.6rem;
    letter-spacing: 0.12rem;
    line-height: 1.5;
    color: #000000;
}



.main-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

