.navbar-logo-container {
  height: 100px;
  width: 240px;
  position: absolute;
  z-index: 2;
  left: 0;
}

.navbar-logo {
  height: 60px;
  width: 225px;
  padding-top: 25px;
  padding-left: 8px;
}

.navbar-aside {
  width: 200px;
  background: #405189;
  color: #fff;
  height: 100vh;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-list {
  padding-left: 20px;
  padding-top: 80px;
  list-style-type: none;
  margin-top: 20px;
}

.navbar-list-item {
  padding: 10px;
}

.navbar-link {
  font-size: 25px;
  text-decoration: none;
  letter-spacing: 1px;
  color: white;
}

.navbar-dropdown {
  list-style-type: none;
  margin-top: 10px;
  padding-left: 15px;
}

.navbar-sublink {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 5px 0;
}

.navbar-pointer {
  cursor: pointer;
}
